.contact { 
    align-items: center;
    background-color: #40453D;
    display: flex;
    height: 89.9vh;
    justify-content: space-around;
    position: absolute;
    width: 100vw;
    color: white;
}
.contactForm {
    display: flex;
    flex-direction: column;
}
.socialMidias{
    display: flex;
    flex-direction: column;
}
.socialMidias button{
    background-color: #40453D;
}
.socialLogo{
    width: 100px;
    height: 50px;
}
.LogoGitHub{
    height: 50px;
    padding: 8px;
}